{% extends 'base.html' %}
{% load courses_tags %}

{% block title %}{{ title|title }}{% endblock %}

{% block content %}


<nav class="top-nav">
    <a href="#">About</a>
    <a href="#">Contacts</a>
    <a href="#">Help</a>
</nav>
<aside class="side-nav">
    {% show_navbar selected_cat %}
    {% show_tagsbar %}
</aside>
<header>SkillHub Courses</header>

    <section class="course-grid">
    {% count_courses_by_category selected_cat as courses_count %}
    {% if courses_count == 0 %}
        <div class="course-card">
            <div class="course-title">There are not available courses</div>
        </div>
    {% else %}
    {% for course in courses %}
        <div class="course-card">
            <div class="course-title">{{ course.title }}</div>
            <div class="course-description">{{ course.description|linebreaks|truncatewords:15 }}</div>
            <a href="{{ course.get_absolute_url }}" class="btn">about</a>
            <div class="tags">
                {% for tag in course.tags.all %}
                    <a href="{{ tag.get_absolute_url }}" class="tag">{{ tag.tag }}</a>
                {% endfor %}
            </div>
            <div class="course-footer">
                <p class="topic">{{ course.category.name }}</p>
                <p class="date">{{ course.updated|date:"d.m.Y" }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    </section>

{% endblock %}